
@font-face {
    font-family: 'primary-font';
    src: url(fonts/cocognoose/Cocogoose-Pro-Bold-trial.ttf);
    font-style: normal;
}
@font-face {
    font-family: 'secondary-font';
    src: url(fonts/roboto/Roboto-Black.ttf);
    font-style: normal;
    font-weight: lighter;
}

html{
    scroll-behavior: smooth;
}



:root{
    --space-color:#191919;
    --red:#F28585;
    --green:#A5DD9B;
    --yellow:#F5DD61;
    --blue:#9EDDFF;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    padding-top: 1em;
}

body::-webkit-scrollbar{
    display: none;
}

.wrapper{
    display: flex;
    flex-flow: column;
    
}


/*NAVBAR*/

header{
    padding: 1em;
    background-color: var(--space-color);
    font-family: 'primary-font';
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
nav{
    display: flex;
}



.menu{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 60px;
    color: white;
    text-transform: uppercase;
    filter: drop-shadow(5px 5px black);
}

a{
    text-decoration: none;
    color: inherit;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 500px;
}

.logo > img{
    width: 100px;
}

.home:hover{
    color: var(--blue);
}

.event:hover{
    color: var(--yellow);
}

.team:hover{
    color: var(--red);
}

.contact-us:hover{
    color: var(--green);
}


/*EVENTS*/

@keyframes slider {
    from{
        transform: translateX(0);
    }

    to{
        transform: translateX(-100%);
    }
}



.swiper-container{
    display:flex;
    gap: 1em;
    padding-top: 5em;
    padding-inline: 1em;
    white-space: nowrap;
    animation: 30s slider infinite linear ;
    transition: transform 0.5s ease;
}

.swiper-container:hover{
    animation-play-state: paused;
}


/*TEAM*/

@keyframes lider {
    from{
        transform: translateX(0);
    }

    to{
        transform: translateX(-100%);
    }
}

.team-container{
    display:flex;
    gap: 1em;
    padding-top: 5em;
    padding-inline: 1em;
    white-space: nowrap;
    animation: 30s lider infinite linear ;
    transition: transform 0.5s ease;
}

.team-container:hover{
    animation-play-state: paused;
}

/*CONTACT*/

.contact{
    background-color: var(--green);
    font-family: 'primary-font';
    text-transform: uppercase;
}


.contact > h1{
    font-size: 4rem;
    text-align: center;
    padding: 1em;
}

.contact-container{
    display: grid;
    grid-template-rows: 2fr 0.5fr;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.join{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}



.text{
    font-size: 2rem;
    color: var(--space-color);
    width: 50%;
}

.about{
    font-size: 0.75rem;
    width: 70%;
    line-height: 2.5;
    font-family: 'secondary-font';
}

.links>ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
    background-color: var(--space-color);
    color: white;
    font-family: 'secondary-font';
}

.img{
    width: 30px;
}

/*RESPONSIVENESS*/
.menu-icon {
    display: none;
}

@media (max-width: 1024px) {
    .menu {
        display: none;
    }

    .menu-icon {
        display: block;
    }
}
